<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 404</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/icon/favicon-16x16.png"
    />
    <link rel="icon" href="/static/icon/favicon.ico" />
    <link rel="manifest" href="/static/icon/site.webmanifest" />

    <link rel="stylesheet" href="/static/css/error.css" type="text/css" />
  </head>
  <body>
    <main>
      <header>
        <h1 class="emotion">:(</h1>
      </header>
      <br />
      {{if . }}Error {{.error_id}}: {{.message}}{{end}}
    </main>
  </body>
</html>
