<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASCII-ART-WEB</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  </head>
  <body>
    <div class="window-content">
      <div class="window-subTitle"><p>ASCII_Art_Generator</p></div>
      <form action="/ascii-art" method="POST">
        <div class="main-content">
          <div class="ascii-result">
            <label for="text"></label>
            <!-- <input type="text" id="text" placeholder="Enter your text:"> -->
            <textarea name="text" id="text" class="text" placeholder="Enter your text:"></textarea>
          </div>
        </div>
        <div class="banner-area">
          <label for="banner">Banner:</label>
          <select id="banner" name="banner">
            <option value="standard">Standard</option>
            <option value="shadow">Shadow</option>
            <option value="thinkertoy">Thinkertoy</option>
          </select>
        </div>
        <div class="generate-area">
          <button type="submit">Generate ASCII Art</button>
        </div>
      </form>
    </div>
  </body>
</html>
